body {
  font-family: "Montserrat", sans-serif;
}
/* main styles */
.main {
  display: flex;
  flex-direction: row-reverse;
  background-color: rgba(255, 255, 255, 0.678);
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 0px;
}

/* content styles */
.content {
  background-color: #ffffff;
  padding-left: 65px;
  padding-right: 65px;
}

.front-end_dev {
  margin: 90px 0 20px 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.name {
  margin-left: 30px;
  margin-bottom: 20;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
}

.quote {
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  width: 400px;
  height: 120px;
  color: #595959;
}

.work_tittle,
.project_tittle {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
  color: #000;
}
/* project  */
.project {
  margin-bottom: 50px;
  width: 485px;
  height: 107px;
}

.project_name,
.project_links_item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.project_links {
  padding-left: 20px;
}

.project_links_type {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

/* WORK  */
.company1,
.company2,
.company3 {
  width: 509px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.company1 {
  margin-bottom: 15px;
}

.company2 {
  margin-bottom: 20px;
}

.company3 {
  margin-bottom: 45px;
}

.company_prof {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
}

.company_name {
  color: #fb6d3a;
}

.work_item {
  padding-left: 20px;
}

.time {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 8;
}

/* EDUCATION  */

.education_tittle {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}

.education_univer {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin-bottom: 10px;
}

.education_faculty {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 10px;
}

/* sidebar styles */
.sidebar {
  background-color: #1e2939;
  width: 370px;
}

.photo {
  width: 370px;
  margin-bottom: 50px;
}

.sidebar_tittle {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}
.side_contacts,
.side_techskills,
.side_softskills {
  padding-left: 40px;
}

/* contacts  */
.side_contacts {
  margin-bottom: 50px;
}

.contact_type {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  margin-right: 5px;
}

.contact_link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #565e6a;
}

/* tech skills  */
.tech_skills_list {
  color: #ffffff;
  padding: 0;
  margin-left: 20px;
}

.tech_skills_item {
  color: #fb6d3a;
}

.tech_skills_type {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.side_techskills {
  margin-bottom: 45px;
}

/* soft skills  */
.soft_skills_list {
  padding-left: 20px;
}

.soft_skills_item {
  color: #fb6d3a;
}

.soft_skills_type {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.social-icons {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 0;
}
